.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-table-container {
  padding-top: 80px; /* 上方向に余白を追加 */
  padding-bottom: 80px;
}

.app-header-container {
  position: fixed; /* ヘッダーを画面上部に固定 */
  top: 0; /* 画面の上部に位置 */
  left: 0; /* 左端に位置 */
  width: 100%; /* 横幅を100%にする */
  z-index: 10; /* 他の要素よりも前面に表示 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* ヘッダーの影 */
}