.button04 {
    display: flex;
    justify-content: center;  /* 横方向に中央揃え */
    align-items: center;      /* 縦方向に中央揃え */
    background-color: #fff;
    border: double 3px #0047d6;
    color: #0047d6;
    border-radius: 20px;
    padding: 0px 15px;
    text-decoration: none;
    font-size: 2em;
}

.button04:hover {
    color: #0047d6;
    background-color: #0047d630;
}